doctype html
html
  head
    title Tareas
  body
    form(action="/tasks" method="POST")
      input(type="email" name="email" placeholder="Correo electronico")
      input(type="pasword" name="password" placeholder="Contraseña")
      input(type="submit" value="Crear cuenta")